---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Mi blog personal!";
---
<BaseLayout pageTitle={pageTitle} colorFont1="skyblue">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique cum fugit doloremque a cupiditate natus sunt fuga officiis. Adipisci repudiandae omnis blanditiis praesentium laboriosam cupiditate, qui recusandae sit exercitationem a quae consequatur eius vitae iusto quis voluptatum! Laborum, assumenda explicabo deserunt quae ipsa voluptates libero, sunt dolores nostrum tempora culpa qui! Deleniti animi explicabo quis! Minima provident ipsam vitae nisi?</p>
  <ul>
    <li><a href="/posts/post-1/">Publicación 1</a></li>
    <li><a href="/posts/post-2/">Publicación 2</a></li>
    <li><a href="/posts/post-3/">Publicación 3</a></li>
  </ul>
</BaseLayout>
