---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi blog personal!";
---
<BaseLayout pageTitle={pageTitle} colorFont1="skyblue">
  <p>Publicare todas las noticias mas importantes de Salud!</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
