---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    rel="stylesheet"
  />
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>
<footer>
  <p>Sigueme en mis redes sociales!</p>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>